.about-wrapper {
    padding-bottom: 15vh;
}

.about-image {
    border-radius: 50%;
    width: 70vw;
    height: 70vw;
    object-fit: cover;
    padding: 5vh;
}

.about-wrapper p {
    text-align: justify;
    padding: 5vw 5vw 0 5vw;
}