.about-image {
    border-radius: 50%;
    width: 28rem;
    height: 28rem;
    object-fit: cover;
}

.about-wrapper h2 {
    padding-top: 5rem;
}

.about-wrapper p {
    text-align: justify;
    padding: 3rem 3rem 6rem 3rem;
    font-size: 1.5rem;
}

.adefault, .adefault1, .adefault3 {
    opacity: 0;
    transition: all 1s ease-out;
    transform: translateY(50px);
}

.fade-mainEls-in {
    opacity: 1;
    transform: translateY(0);
}