.gallery-wrapper {
    height: 100vh;
    min-height: 100vh;
}

.slider-wrapper {
    position: relative;
    height: 100vw;
    width: 100vw;
    margin: 0 auto;
    overflow: hidden;
}

.slider-content {
    height: 100%;
    display: flex;
}

.slidey {
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
