.gallery-wrapper {
    height: 100vh;
    min-height: 100vh;
}

.gallery-wrapper h2 {
    padding: 5rem 0;
}

.slider-wrapper {
    position: relative;
    height: 100vw;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.slider-content {
    height: 100%;
    display: flex;
}

.slidey {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.slider-arrow {
    display: flex;
    position: absolute;
    top: 50%;
    height: 50px;
    width: 50px;
    justify-content: center;
    background: white;
    border-radius: 50%;
    cursor: pointer;
    align-items: center;
    transition: transform ease-in 0.1s;
}

.slider-arrow:hover {
    transform: scale(1.1);
}

.slider-arrow img:focus {
    outline: 0;
}

.dot {
    padding: 5px;
    margin: 0 5px 0 0;
    cursor: pointer;
    border-radius: 50%;
}

.dots-container {
    position: absolute;
    bottom: 25px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.order-icon {
    position: absolute;
    top: 75%;
    right: 25px;
    height: 50px;
    width: 50px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
    transition: transform ease-in 0.1s;
}


