.gallery-wrapper {
    min-height: 50vh !important;
    padding-bottom: 15vh;
}

.gallery-wrapper h2 {
    padding: 4rem 0 3rem 0;
}

.slider-wrapper {
    position: relative;
    height: 100vw;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    max-height: 600px;
    max-width: 775px;
}

.slider-content {
    height: 100%;
    display: flex;
}

.slidey {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.slider-arrow {
    display: flex;
    position: absolute;
    top: 50%;
    height: 6rem;
    width: 6rem;
    justify-content: center;
    background: white;
    border-radius: 50%;
    cursor: pointer;
    align-items: center;
    transition: transform ease-in 0.1s;
}

.slider-arrow:hover {
    transform: scale(1.1) !important;
}

.slider-arrow img:focus {
    outline: 0;
}

.dot {
    padding: 5px;
    margin: 0 5px 0 0;
    cursor: pointer;
    border-radius: 50%;
}

.dots-container {
    position: absolute;
    bottom: 25px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contact:visited {
    text-decoration: none;
}

.order-icon {
    position: absolute;
    font-size: 1.8rem;
    top: 75%;
    right: 5%;
    height: 4rem;
    width: 10rem;
    background: cornflowerblue;
    color: white;
    border-radius: 2.5rem;
    cursor: pointer;
    padding-top: 0.6rem;
    transition: transform ease-in 0.1s;
}

.order-icon:hover {
    background: rgba(255,255,255,0.8);
    color: black;
    transform: scale(1.05);
}

.order-icon:active {
    background: rgba(255,255,255,0.8);
    color: black;
    transform: scale(1.05);
    border: 2px solid rgb(65,65,65)
}

@media screen and (min-width: 750px) {
    .order-icon {
        height: 5rem;
        width: 12rem;
        border-radius: 2.5rem;
        cursor: pointer;
        font-size: 2rem;
        padding-top: 1rem;
        transition: transform ease-in 0.1s;
    }
  }
