html {
    font-size: 62.5%;
}

html, body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    scroll-behavior: smooth;
    font-family: 'Heebo', sans-serif;
    overflow-x: hidden;
}

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

.main-wrapper {
    background: rgba(235, 235, 235, 0.45);
    color: rgb(65, 65, 65);
}

.main-wrapper>div {
    padding-top: 4.5rem;
    min-height: 93vh;
}

h2 {
    font-size: 3rem;
}

/* slide-in on scroll effect */


.adefault1, .sdefault2 {
    opacity: 0;
    transition: all 1s ease-out;
    transform: translateX(-100px);
}

.sdefault, .adefault2, .sdefault1 {
    opacity: 0;
    transition: all 1s ease-out;
    transform: translateX(100px);
}

.fade-mainEls-in {
    opacity: 1;
    transform: translateX(0);
}

/* footer styling */

.footer {
    background: rgba(235, 235, 235, 0.45);
    color: rgb(65, 65, 65);
    font-size: 1.5rem;
    padding: 1rem 0;
}

.footer a, .footer a:visited {
    text-decoration: none;
    color: rgb(66, 132, 255);
}