.navbar {
    position: sticky;
    top: 0;
    z-index: 2;
    background: rgba(129, 166, 231, 0.9);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    height: 100%;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    color: black;
    height: 100%;
    display: inline-block;
    font-size: 1.5rem;
    line-height: 4.3rem;
    width: 25%;
}

.navbar a:hover {
    color: white;
}

a.active-btn {
    background: rgba(27, 83, 180, 0.568);
    color: white;
    border-bottom: 2px solid rgba(33, 75, 146, 0.79);
}

@media screen and (min-width: 450px) {
    .navbar a {
        font-size: 1.8rem;
        line-height: 5rem;
    }
  }

@media screen and (min-width: 750px) {
    .navbar a {
        width: 12%;
    }

    .navbar .nav-icon {
        font-family: 'Josefin Sans', sans-serif;
        width: 52%;
        text-align: left;
        padding-left: 5%;
        font-size: 2.5rem;
        color: black;
    }
}

@media screen and (min-width: 950px) {
    .navbar a {
        width: 10%;
    }

    .navbar .nav-icon {
        width: 60%;
        padding-left: 7%;
    }
  }