.navbar {
    position: sticky;
    top: 0;
    z-index: 1;
    background: rgba(84, 138, 234, 0.5);
    font-size: 1.5rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    height: 100%;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    color: black;
    height: 100%;
    display: inline-block;
    line-height: 4.3rem;
    width: 25%;
}

a.active-btn {
    background: rgba(27, 83, 180, 0.568);
    color: white;
    border-bottom: 2px solid rgba(33, 75, 146, 0.79);
}