.section-scroll {
    z-index: 1;
    position: relative;
    padding-top: 30%;
}

.section-scroll a {
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.scroll-arrow {
  width: 20%;
}

.scroll-arrow:hover {
  filter: invert(100%);
}

/* .scroll-arrow {
  -webkit-animation: sectionArrowAnimation 3s cubic-bezier(.46,.03,.52,.96) infinite;
	-moz-animation: sectionArrowAnimation 3s cubic-bezier(.46,.03,.52,.96) infinite;
  animation: sectionArrowAnimation 3s cubic-bezier(.46,.03,.52,.96) infinite;
}

@-webkit-keyframes sectionArrowAnimation {
  0%   { -webkit-transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,20px); opacity: 0; }
}
@-moz-keyframes sectionArrowAnimation {
  0%   { -moz-transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,20px); opacity: 0; }
}

@keyframes sectionArrowAnimation {
  0%   { width: 15%; }
  50%  { width: 18%; }
  100% { width: 15%; }
} */