.services-wrapper {
    background-color: cornflowerblue;
    color: white;
    padding-top: 0 !important;
}

.services-img {
    object-fit: cover;
    width: 100%;
    height: 25rem;
}

.services-wrapper h2 {
    padding-top: 3rem;
    margin-top: 5vh;
}

.services-wrapper p {
    text-align: justify;
    padding: 3rem 3rem 6rem 3rem;
    font-size: 1.5rem;
}


.services-wrapper a {
    text-decoration: none;
    color: rgb(65, 65, 65);
    height: 100%;
}

.services-wrapper a:visited {
    text-decoration: none;
}

@media screen and (min-width: 450px) {
    .services-wrapper h2 {
        font-size: 4rem;
    }
    .services-wrapper p {
        padding: 5rem 5rem 10rem 5rem;
        font-size: 1.8rem;
    }
}
